<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="BANHANG2\SQL2K16_QUANCAFEConnection" connectionString="XpoProvider=MSSqlServer;data source=BANHANG2\SQL2K16;user id=sa;password=htl;initial catalog=QUANCAFE;Persist Security Info=true" />
    <add name="BANHANG2\SQL2K16_QUANCAFEConnection1" connectionString="XpoProvider=MSSqlServer;data source=BANHANG2\SQL2K16;user id=sa;password=htl;initial catalog=QUANCAFE;Persist Security Info=true" />
    <add name="PHAN_MEM_QUAN_LY_QUAN_CAFE.My.MySettings.QUANCAFEConnectionString" connectionString="Data Source=BANHANG2\SQL2K16;Initial Catalog=QUANCAFE;Persist Security Info=True;User ID=sa;Password=htl" providerName="System.Data.SqlClient" />
    <add name="QUANCAFEEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BANHANG2\SQL2K16;initial catalog=QUANCAFE;persist security info=True;user id=sa;password=htl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QUANCAFEEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BANHANG2\SQL2K16;initial catalog=QUANCAFE;persist security info=True;user id=sa;password=htl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>